<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>developer</param-name>
    <param-value>박종우</param-value>
  </context-param>
  <display-name>back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.my.control.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.my.control.LifeCycleServlet</servlet-class>
    <init-param>
      <param-name>fileName</param-name>
      <param-value>a.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.my.control.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseServlet</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>com.my.control.responseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.my.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.my.control.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.my.control.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idDupChkServlet</display-name>
    <servlet-name>idDupChkServlet</servlet-name>
    <servlet-class>com.my.control.idDupChkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idDupChkServlet</servlet-name>
    <url-pattern>/iddupchk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductServlet</display-name>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>com.my.control.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/viewproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServlet</display-name>
    <servlet-name>MoveServlet</servlet-name>
    <servlet-class>com.my.control.MoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServlet</servlet-name>
    <url-pattern>/move</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.my.control.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStatusServlet</display-name>
    <servlet-name>LoginStatusServlet</servlet-name>
    <servlet-class>com.my.control.LoginStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStatusServlet</servlet-name>
    <url-pattern>/loginstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.my.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.my.control.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartServlet</display-name>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>com.my.control.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.my.control.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>com.my.control.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/vieworder</url-pattern>
  </servlet-mapping>
</web-app>